main {
  padding-top: min(15vw, 177px);
  min-height: calc(100vh - min(15vw, 177px) - 29px);
  justify-content: flex-start;
  row-gap: 10px;
}

form {
  background-color: #b18b8ba6;
  color: white;
  font-size: clamp(12px, 2vw, 16px);
  font-family: "Google Sans Code";
  font-style: bold;
  width: min(1000px, 30%);
  box-shadow: 0 5px 100px rgba(0, 0, 0, 1);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  padding: 20px 20px 50px 20px;
  border-radius: 9px;
  margin-bottom: 80px;
}

@media (max-width: 1000px) {
  form {
    width: 50%;
    margin-bottom: 0px;
    margin-top: 50px;
  }
}

form h1 {
  font-size: 32px;
  align-self: center;
  font-family: "Story Script";
  margin-bottom: 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.form-input input {
  height: 48px;
  width: calc(100% - 10px);
  border-radius: 6px;
  align-items: center;
  font-family: "Google Sans Code";
  padding-left: 10px;
}

.form-input select {
  height: 48px;
  width: 100%;
  padding-left: 10px;
}

.error-message {
  background-color: #000000a6;
  color: red;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
  display: none;
}

#submit-form {
  width: 100%;
  font-family: "Story Script";
  font-size: 24px;
  background-color: #ecd2d2a6;
  border: none;
  border-radius: 6px;
  border-style: solid;
  border-color: #5c494999;
  border-width: 2px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#submit-form:hover {
  background-color: #b29595a6;
}

#text-area {
  width: 100%;
  height: clamp(42px, 10vw, 150px);
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 5px;
}
