* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
html,
body {
  display: flex;
  flex-direction: column;
  background-color: #190602;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.top-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: flex-start;
  align-items: flex-start;
  height: min(13vw, 120px);
  width: 100%;
  font-family: "Story Script", sans-serif;

  color: deepskyblue;
  background-clip: text, border-box;
  background-image: linear-gradient(45deg, hsl(24, 100%, 27%), #af6c1f, #ffb561),
    linear-gradient(to right, rgba(110, 31, 31, 0.3), rgba(85, 57, 47, 0.7));
  color: transparent;
  padding-top: 0px;
  z-index: 1;
}

#top-title {
  padding-left: 10px;
  font-size: 60px;
}
#title-addnot {
  font-size: 30px;
  padding-left: 40px;
}
#menu-bar {
  width: 30vw;
  height: min(12vw, 120px);
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 70vw;
  gap: 5%;
  z-index: 2;
}

.icon {
  text-align: center;
  height: min(4vw, 34px);
  background-color: rgba(255, 255, 255, 0.5);
}

.search {
  width: 30vw;
  height: 30px;
  background-color: #e4e4e4;
}

.material-symbols-outlined {
  /*font-size: min(2.5vw, 34px);*/
  font-size: clamp(13px, 3vw, 34px);
}

@media (max-width: 1000px) {
  #top-title {
    font-size: clamp(20px, 6vw, 90px);
    padding-left: 0px;
  }
  #title-addnot {
    font-size: clamp(6px, 3vw, 30px);
  }
}

.icon:hover {
  background-color: rgba(12, 12, 12, 0.5);
}

#top-img {
  width: 100%;
  max-width: 1200px;
}

.info {
  font-size: 16px;
  top: 40%;
  width: auto;
  color: white;
  text-align: center;
  background-color: rgba(60, 21, 21, 0.2);
}
.info img {
  width: 100%;
  max-width: 1200px;
}
