img {
    width:100px;
    height:100px;
}

table, td{
    border: solid black;
}

table{
    border-collapse: collapse;
}

div{
    padding: 10px 10px 10px 5px;
    background-color: rgb(177, 177, 177);
}

input{
    height:30px;
    border-radius: 0px;
    border-width: 1px;
}

button{
    height: 35px;
    border-radius: 0px;
    border-style: none;
}
select{
    margin-left:50px;
    border: none;
    height: 34px;
}